<html>
<title>add-article</title>
<head>
    <script src="/js/jquery-1.12.3.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/html-override.css">
    <script language="JavaScript" type="text/javascript">
        function submitArticle(){
            alert("dsf");
            console.info($("#title"));
            alert($("#title").value);
        }
    </script>
</head>
<body>
<div class="article">
    标题<input id="title" name="title" type="text" value="" placeholder="标题"><br>
    作者<input name="author" type="text" value="" placeholder="作者"><br>
    朝代<input name="dynasty" type="text" value="" placeholder="朝代"><br>
    内容<textarea name="content" cols="100" value="" rows="20" placeholder="内容"></textarea><br>
    <a href="#" onclick="submitArticle()">submit</a>
</div>
</body>
</html>