<html>
<title>welcome</title>
<head>
    <link rel="stylesheet" type="text/css" href="/css/article.css">
</head>
<body>
<div class="article">
    <h2>$article.title</h2>
    <span class="author">
     $article.dynasty -- $article.author
    </span>
    <br>$article.content
    <br>$article.oid
</div>
</body>
</html>