<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mongo="http://www.springframework.org/schema/data/mongo"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/data/mongo
        http://www.springframework.org/schema/data/mongo/spring-mongo.xsd"
       default-lazy-init="true" default-autowire="byName">
    <mongo:mongo-client id="mongoClient" host="localhost" port="27000">
        <mongo:client-options connect-timeout="30000"/>
    </mongo:mongo-client>
    <mongo:db-factory id="mongoDbFactoryGW" dbname="guwen" mongo-ref="mongoClient" />
    <bean id="mongoTemplateGW" class="org.springframework.data.mongodb.core.MongoTemplate">
        <constructor-arg name="mongoDbFactory" ref="mongoDbFactoryGW"/>
    </bean>
    <!--<mongo:mapping-converter base-package="shiyan.domain"/>-->
    <!--<mongo:repositories base-package="shiyan.dao"/>-->
</beans>