.article {
    position: relative;
    width: 70em;
    height: 50em;
    margin: 0px auto;
    padding-left: 0px;
    overflow: hidden;
}
.author{
    text-align: right;
    font-family: "楷体",KaiTi,"楷体_GB2312",KaiTi_GB2312,SimKai;
    font-size: 18px;
}
.dynasty{
    text-align: right;
    font-family: "微软雅黑","Microsoft YaHei";
    font-size: 18px;
}